{% extends 'base.html' %}

{% block content %}
<div class="post-list">
  <h3 class="page-heading">About</h3>
  <hr>
  <p>Dev network site or social media is an online platform which people use to build Dev networks social or relationship with other people who share similar personal or career interests, activities, backgrounds or real-life connections.

Dev network sites allow users to share ideas, digital photos and videos, posts, and to inform others about online or real-world activities and events with people in their network. While in-person social networking – such as gathering in a village market to talk about events – has existed since the earliest development of towns
</p>
</div>
{% endblock content %}